
#mycanvas {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.createbox{
    border-radius: 15px;
    background-color: rgb(211, 211, 211);
    width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
    margin: auto;
}